body{
    margin: 0;
    padding: 0;
}


/* Sidebar taken from W3Schools https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp ; Changed slightly */

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #022431; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #d3d3d3;;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #31abec;
}

/* Style page content */
.main {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* Styles for foldout accordion design by Vladimir Simović
 https://www.perun.net/2021/04/08/akkordeon-effekt-nur-mit-html/
 https://codepen.io/vladimir-simovic/pen/OJWONJr
 Partly customized */

details {
    background: #022431;
    border: 1px solid #666;
    border-radius: 3px;
    margin-bottom: 1.5rem;
}

linkdetails {
    background: #022431;
    border: 1px solid transparent;
}

summary {
    background: #1f4560;
    color: #d3d3d3;
    cursor: pointer;
    padding: 1rem;
}

.akkordeon-inhalt {
    padding: 1rem 1rem 1px 1rem;
}

/* Der verzögerungseffekt */
details[open] summary ~ * {
    animation: sweep .7s ease-in-out;
}

linkdetails[open] summary ~ * {
    animation: sweep .7s ease-in-out;

}

linkdetails summary::marker {
    color: white;
    font-size: 1.5em;
}

@keyframes sweep {
    0% {
        opacity: 0;
        margin-left: -20px
    }
    100% {
        opacity: 1;
        margin-left: 0
    }
}

/* Own styles */
a {
    color: #d3d3d3;
    text-decoration: none;
    display: block;
}

body {

    font-family: Tisa, sans-serif;
    background: #394146;
    color: #d3d3d3;
}

/* Hide the link that should open and close the topnav on small screens */
.sidenav .icon {
    display: none;
}
#tributediv, #surveydiv{
    display: flex;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home").
Show the link that contains should open and close the topnav (.icon) */

@media screen and (max-width: 600px) {
    #tributediv{
        display: block;
    }
    .sidenav{
        width: 100%;
        top: 0;
        height: auto;
        overflow: hidden;
        padding: 0;
        position: relative;

    }
    .main{
        margin-left: 0;
    }
    .sidenav a:not(:first-child) {
        display: none;
    }

    .sidenav a.icon {
        float: right;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon.
This class makes the sidenav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .sidenav.responsive {position: relative;}
    .sidenav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .sidenav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}